  
*{
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
}
body{
    font-size:15px;
    line-height: 1.2;
    background-color: #fcfdfc;
	font-family: 'Cormorant Garamond', serif;
}
.container{
    width: 1400px;
    margin: 0 auto;
}

/*///////////HEADER//////////*/

header{
	width: 100%; 
	height: auto;
	display: flex;
	background-color: #f4f9f4;
}
.header__content{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #f4f9f4;
}
.logo_pic{
	width: 109px;
	height: auto;
	padding-bottom: 1.3em;
	background-color: #a7d7c5;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 14px;
}
.logo{
	width: 90px;
	height: 90px;
	background-color: none;
	background-image: url(./imgs/Logo-0.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 14px;
}
.nav__bar{
	width: 100%;
	height: auto;
	background-color: #e2ece7;
	display: flex;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 30%;
	padding-top: 1em;
}
.nav_links{
  width: 100%;
  display: flex;
  list-style: none;
  height: auto;
}
.nav_links li{
	margin-right: 8px;
}
.nav_link:hover{
	background-color: #c6d8d3;
}
.nav__bar ul li a {
  color: #494f4e;
  font-size: 21px;
  margin-right: 1em;
  padding: 10px;
  transition: all 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

/*//////////////////INTRO//////////////*/

.intro{
	width: 100%;
	background-color: #f4f9f4;
	height: auto; 
	position: relative;
	display: flex;
}
.intro__wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 11;
}
.intro_pic{
	display: flex;
	width: 100%;
	height: auto;
	margin-left: 40px;
	display: inline-block;
}
.yoga_pattern{
	background-color: #f4f9f4;
	background-image: url(./imgs/Shape_intro.png);
	width: 630px;
	height: 626px;
	background-size: cover;
	/*display: inline-block;*/
}
.img_square{
	display: inline-block;
	width: 350px;
	height: 350px;
	border: 2px solid #bdd1cd;
	border-radius: 100%;
	margin-top: 20%;
	margin-left: 21%;
	background-color: #bdd1cd;
	background-size: cover;
}
.intro__text{
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: center;
	align-items: center;
	margin-top: 10em;
	z-index: 100;
}
.intro__text h1{
	font-size: 100px;
	font-family: Bhai;
	color: #6c9894;
}
.intro__text p{
	font-size: 21px;
	font-family: Montserrat;
	color: #768f8b;
}
.intro__text button{
	background-color: #6c9894;
	width: 172px;
	padding: 0.5em;
	border: 1px solid #6c9894;
	border-radius: 10px;
	font-size: 20px;
	color: #fefefc;
	cursor: pointer;
	margin-top: 1em;
	transition: all 0.4s;
}
.intro__text button:hover{
	background-color: #a7d7c5;
	border: 1px solid #a7d7c5;
}

.half_shape{
	width: 361px;
	height: 750px;
	position: absolute;
	right: 0px;
	top:0%;
	z-index: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
/*/////////////////CHOOSE CLASS//////////////*/

.choose_class{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #6c9894;
	/*overflow: hidden;*/
}
.choose_class_text{
	width: 100%;
	justify-content: center;
	text-align: center;
	background-color: none;
	margin-top: 3em;
}
.choose_class_text h1{
	font-size: 75px;
	color:#f4f0f4;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
.choose_class_text p{
	font-size: 30px;
	color: #f4f9f4;
	font-weight: 400;
	text-align: center;
	margin-top: 1em;
	padding-left: 10em;
	padding-right: 10em;
}
/*////NEW PIC PATTERN/////*/
.choose_class_items{
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: auto;
	padding-top: 4em;
	gap: 20px;
}
.choose_class_item{
	width: 100%;
	height: auto;
	display: inline-block;
}
.choose_class_item .yoga_pattern{
	background-color: #6c9894;
	background-image: url(./imgs/choose_shape.png);
	width: 400px;
	height: 400px;
	background-size: cover;
	display: flex;
}
.new_square{
	display: inline-block;
	width: 312px;
	height: 308px;
	border: 1px solid #FFF;
	border-radius: 100%;
	background-color: #bdd1cd;
	background-size: cover;
	margin-top: 41px;
}
.item__text{
	width: 100%;
	display: inline-block;
	margin-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.choose_class_item .item__text h3{
	font-size: 37px;
	color: #f4f9f4;
	font-weight: bold;
	font-family: Baloo;
	text-align: center;
	text-transform: uppercase;
}
.choose_class_item .item__text p{
	padding-top: 10px;
	font-size: 22px;
	color: #f4f9f4;
	font-weight: 400;
	text-align: center;
}

/*/////////////////////OUR STATS//////////////////*/

.our_stats{
	width: 100%; 
	height: auto;
	display: flex;	
	background-image: url(./imgs/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 6em;
}
.our_stats_text{
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	background-color: none; 
	margin-top: 3rem;
}
.our_stats_text h1{
	font-size: 75px;
	color:#6c9894;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.our_stats_text p{
	font-size: 30px;
	color: #6c9894;
	font-weight: 400;
	text-align: center;
}

/*////////////////OUR STATS CONTENT//////////////*/

.our__stats__items{ 
    width: 100%;
	height: auto;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    padding-top: 121px;
}
.our__stats__item{
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: center;
	/*justify-content: space-between;*/
}
.stats_square{
	display: inline-block;
	width: 338px;
	height: 326px;
	border: 5px solid #6c9894;
	border-radius: 100%;
	background-color: none;
	background-size: cover;
}
.stats_square h3{
	font-size: 75px;
	color:#6c9894;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 1em;
}
.stats_square p{
	font-size: 30px;
	color: #6c9894;
	font-weight: 400;
	padding-right: 0.5em;
	padding-left: 0.5em;
	text-align: center;
}

/*//////////////BEST INSTRUCTOR CONTENT///////////////*/

.best_instructor_content{
	width: 100%; 
	height: auto;
	display: inline-flex;
	background-color: #6c9894;
	padding-bottom: 10em;
	position: relative;
}
.instruct__wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 6em;
} 
.instruct__wrapper .text{ 
	width: 100%;
	height: auto;
	display: inline-block;
	background-color:none;
	margin-top: 17rem;
	padding-bottom: 2em;
}
.instruct__wrapper .text h1{
	font-size: 75px;
	color:#f4f9f4;
	font-weight: bold;
	text-transform: uppercase;
}

.instruct__wrapper .text p{
	font-size: 30px;
	color: #f4f9f4;
	font-weight: 400;
}
.instruct__wrapper .text button{
	width: 300px;
	padding: 1em;
	font-size: 20px;
	color: #6c9894;
	margin-top: 1em;
	background-color: #f4f9f4;
	border: 1px solid #6c9894;
	font-weight: bold;
}
.instruct__wrapper .text button:hover{
	background-color: #a7d7c5;
}
.instructor_pic{
	width: 100%;
	height: auto;
	display: flex;
}
.instructor_pic .inst__img{
	position: absolute;
	top: 0;
	right: 0;
	width: 570px;
	height: auto;
	background-image: url(./imgs/sitting.png);
	background-repeat: no-repeat;
	background-size: contain;
}

/*////////////NEW EXPERIENCE CONTENT/////////////////*/
.experience_content{
	width: 100%; 
	height: 105vh;
	display: flex;
	background-color: #f4f9f4;
	padding-top: 1em;
	position: relative;
}
.exp__wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.shape_content{
	background-image: url(./imgs/Design.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 506px;
	height: 1070px;
	z-index: 0;
	top: 0;
	right: 0;
}
.exp__text{
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: left;
	background-color: none;
	background-image: url(./imgs/exp_shape.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 10em;
}
.exp__text h1{
	font-size: 75px;
	color:#6c9894;
	font-weight: bold;
	text-transform: uppercase;
}

.exp__text p{
	font-size: 30px;
	color: #6c9894;
	font-weight: 400;
}
.exp__text button{
	width: 300px;
	padding: 1em;
	font-size: 20px;
	color: #f4f9f4;
	margin-top: 30px;
	background-color: #6c9894;
	border: 1px solid #6c9894;
	font-weight: bold;
	transition: all 0.4s;
	cursor: pointer;
}
.exp__text button:hover{
	background-color: #a7d7c5;
}
.exp__pic{
	width: 100%;
	display: block;
}
.exp__img{
	position:absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/*//////////////////////PRICING CONTENT///////////////*/
.pricing_content{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #6c9894;
	/*overflow: hidden;*/
	padding-bottom: 2em;
}
.pricing_text{
	width: 783px;
	height: 200px;
	/*display: inline-block;*/
	justify-content: center;
	text-align: center;
	background-color: none;
	margin-top: 112px;
}
.pricing_text h1{
	font-size: 75px;
	color:#f4f0f4;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
.pricing_text p{
	width: 766px;
	height: 210px;
	font-size: 30px;
	color: #f4f9f4;
	font-weight: 400;
	text-align: center;
}

/*//////New class///*/
.pricing__items{
    margin: 0 auto;
    padding: 0;
    background-color: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
}
.pricing__items .pricing__item{
	width: 340px;	
	text-align: center;
	background-color: #f4f9f4;
	padding-bottom: 2em;
}
.pricing__item .pricing__item__text{
	width: 281px;
	height: 236px;
	margin: 35px;
	background-color: none;
}
.pricing__item__text h3{
	font-size: 37px;
	text-transform: uppercase;
	color: #6c9894;
}
.pricing__item__text .icon{
	width: 125px;
	height: 141px;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.pricing__item p{
	font-size: 22px;
	text-align: center;
	color: #6c9894;
	padding-top: 10px;
}
.pricing__item button{
	width: 317px;
	padding: 0.7em;
	border: 1px solid #6c9894;
	border-radius: 5px;
	text-transform: uppercase;
	margin-top: 20px;
	background-color: #6c9894;
	color:white;
	font-size: 25px;
	cursor: pointer;
	transition: all 0.4s;
}
.pricing__item button:hover{
	background-color: #a7d7c5;
}

/*//////////////TRAINER SECTION/////////////////*/

.trainer_content{
	width: 100%;
	height: auto;
	display: block;
	padding-bottom: 6em;
	padding-top: 3em;
	position: relative;
}
.training__wrapper{
	width: 100%;
	display: inline-block;
	height: auto;
	text-align:center;
	padding-bottom: 6em;
}
.training__text{
	width: 100%;
	height: auto;
	display: inline-block;
	color:#6c9894;
}
.training__text p{
	font-size: 58px;
}
.training__text h2{
	font-size: 58px;
	margin-top: 1em;
}
.training__img{
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.img_pattern{
	background-color: none;
	background-image: url(./imgs/shape7.png);
	width: 417px;
	height: 420px;
	background-size: cover;
}
.img_pattern .main-img{
	width: auto;
	height: 250px;
	margin-top: 6em;
	text-align: center;
	border: 2px solid #bdd1cd;
	border-radius: 100%;
	background-size: cover;
}
/*////////////BACKGROUND*/

#bg_white{
	width: 100%;
	height: auto;
	background-color: white;
	opacity: 0.250;
	position: absolute;
	z-index: 0;
}
#picture{
	width: 100%;
	height: 860px;
	background-image: url(./imgs/yoga-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;
}

/*////////////////SUBSCRIBE SECTION/////////////////////*/

.subscribe_content{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #6c9894;
}
.subscribe__wrapper{
	width: 100%;
	display: inline-block;
	height: auto;
	padding-bottom: 4em;
	padding-top: 2em;
}
.subscribe__head__text{
	width: 100%;
	margin-top: 4em;
	text-align: center;
	color: #f4f9f4;
}
.subscribe__head__text h2{
	font-size: 75px;
}
.subscribe__head__text p{
	font-size: 30px;
	padding-top: 50px;
}

.subscribe__input__wrapper{
	width: 100%;
	height: auto;
	display: flex;
	text-align: center;
	align-items: center;
	position: relative;
	margin-top: 4em;
}
.subscribe__input__wrapper input[type="email"]{
	width: 100%;
	margin-left: 10em;
	margin-right: 10em;
	padding: 1.6em;
	border:1px solid #f4f9f4;
	border-radius: 30px;
	background-color: #f4f9f4;
	outline: none;
}
.subscribe__input__wrapper button{
	width: 230px;
	padding: 0.6em;
	border:1px solid #f4f9f4;
	border-radius: 70px;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 5em;
	color: #6c9894;
	font-weight: bold;
	font-size: 25px;
	transition: all 0.4s;
}
.subscribe__input__wrapper button:hover{
	background-color: #a7d7c5;
}

/*////////////////FOOTER CONTENT/////////////////////*/

footer{
    height: auto;
    width: 100%;
    background-color: #f4f9f4;
    overflow: hidden;  
    display: flex;
}
.footer_content{
	width: 100%;
	display: flex;
	height: auto;
	padding-top: 4em;
	padding-bottom: 3em;
}
.footer__items{
	width: 100%;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
} 
.footer__title{
	width: 100%;
	height: auto;
	text-align: left;
}
.footer__title p{
	font-size: 25px;
	padding-top: 20px;
	color: #8eb0ac;
}
.footer__title h3{
	font-size: 33px;
	color: #6c9894;
}
.footer_content h3{
	font-size: 33px;
	color: #6c9894;
}
.footer_content .footer__item{
	background-color: none;
	width: 260px;
	height: auto;
}
.footer__item ul li a{
	font-size: 25px;
	color: #8eb0ac;
	transition: all 0.3s;
	text-decoration: none;
}
.footer__item ul li a:hover{
	color: rgb(24, 99, 64);
}
.footer__item ul li{
	list-style: none;
	padding-top: 10px;
}