*{
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
}
body{
    /*text-align: center;*/
    font-size:15px;
    line-height: 1.2;
    background-color: #fcfdfc;
    position: relative;
    width: 100%;
}
.container{
    width: 1480px;
    margin: 0 auto;
    padding: 0;
    background-color: none;
}

/*///////////HEADER//////////*/

.header_logo_nav{
	width: 100%;
	height: 132px;
	display: grid;
	grid-template-columns: 100px 1300px;
	grid-column-gap: 9px;
	background-color: #f4f9f4;
	/*position: absolute;*/
}
.logo_nav{
	width: 109px;
	height: 132px;
	background-color: #a7d7c5;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 14px;
}
.logo{
	width: 90px;
	height: 90px;
	background-color: none;
	background-image: url(./imgs/Logo-0.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.nav_bar{
	width: 100%;
	height: 45px;
	background-color: #e2ece7;
	display: flex;
	margin-top: 40px;
	margin-right: 20%;
	padding-left: 553px;
}
/*.shape_button{
	background-color: rgb( 108, 152, 148 );
  	opacity: 0.231;
	position: relative;
 	left: 60%;
 	width: 142px;
 	height: 45px;
}*/
.nav_links{
  list-style-type: none;
  display: flex;
  background-color: #e2ece7;
  padding: 10px 5px;
  padding-left: 50px;
  width: 100%;
}
.nav_link{
	background-color: none;
	display: flex;
}
.nav_link:hover{
	background-color: #c6d8d3;
}
.nav_bar ul li a {
  color: #494f4e;
  font-family: 'Alegreya', serif;
  font-size: 21px;
}

/*//////////////////INTRO//////////////*/

.intro{
	width: 100%;
	background-color: #f4f9f4;
	margin: 0 auto;
	height: 840px;
	display: flex;
}
.intro_left{
	display: flex;
	width: 630px;
	height: 630px;
	margin-left: 40px;
	display: inline-block;
}
.yoga_pattern{
	background-color: #f4f9f4;
	background-image: url(./imgs/Shape_intro.png);
	width: 630px;
	height: 626px;
	background-size: cover;
	/*display: inline-block;*/
}
.img_square{
	display: inline-block;
	width: 350px;
	height: 350px;
	border: 2px solid #bdd1cd;
	border-radius: 100%;
	margin-top: 20%;
	margin-left: 21%;
	background-color: #bdd1cd;
	background-size: cover;
}
.intro_right_text{
	display: inline-block;
	width: 470px;
	height: 241px;
	background-color: #f4f9f4;
	text-align: center;
	margin-left: 20px;
}
.intro_right_text h1{
	font-size: 100px;
	font-family: Bhai;
	color: #6c9894;
}
.intro_right_text p{
	font-size: 21px;
	font-family: Montserrat;
	color: #97b7b3;
}
.intro_right_text button{
	background-color: #6c9894;
	width: 172px;
	height: 29px;
	border: 1px solid #6c9894;
	border-radius: 10px;
	font-size: 20px;
	color: #fefefc;
}
.intro_right_text button:hover{
	background-color: #a7d7c5;
	border: 1px solid #a7d7c5;
}

.half_shape{
	display: flex;
	width: 361px;
	height: 750px;
	margin-right: -18px; 
	margin-top: -10%;
	background-repeat: no-repeat;
	background-size: cover;
}
/*/////////////////CHOOSE CLASS//////////////*/

.choose_class{
	width: 100%;
	height: 974px;
	display: flex;
	background-color: #6c9894;
	/*overflow: hidden;*/
}
.choose_class_text{
	width: 783px;
	height: 200px;
	/*display: inline-block;*/
	justify-content: center;
	text-align: center;
	background-color: none;
	margin-top: 106px;
}
.choose_class_text h1{
	font-size: 75px;
	color:#f4f0f4;
	font-weight: bold;
	font-family: "Baloo";
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
.choose_class_text p{
	width: 766px;
	height: 210px;
	font-size: 30px;
	color: #f4f9f4;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}
/*////NEW PIC PATTERN/////*/
.choose_class_contant{
	width: 1480px;
    margin: 0 auto;
    padding: 0;
    background-color: none;
    display: flex;
    padding-top: 20px;
}
.new{
	width: 408px;
	height: 510px;
	background-color: none;
	display: block;
	float: left;
	/*margin-top: 50px;*/
}
.new .yoga_pattern{
	background-color: #6c9894;
	background-image: url(./imgs/choose_shape.png);
	width: 400px;
	height: 400px;
	background-size: cover;
	display: flex;
}
.new_square{
	display: inline-block;
	width: 312px;
	height: 308px;
	border: 1px solid #FFF;
	border-radius: 100%;
	background-color: #bdd1cd;
	background-size: cover;
	margin-top: 41px;
}
.adv{
	width: 408px;
	height: 510px;
	background-color: none;
	display: block;
}
.adv .yoga_pattern{
	background-color: #6c9894;
	background-image: url(./imgs/choose_shape.png);
	width: 400px;
	height: 400px;
	background-size: cover;
	display: flex;
}
.ex{
	width: 408px;
	height: 510px;
	background-color: none;
	display: block;
}
.ex .yoga_pattern{
	background-color: #6c9894;
	background-image: url(./imgs/choose_shape.png);
	width: 400px;
	height: 400px;
	background-size: cover;
	display: flex;
}
.choose_class_contant h3{
	font-size: 37px;
	color: #f4f9f4;
	font-weight: bold;
	font-family: Baloo;
	text-align: center;
	text-transform: uppercase;
}
.choose_class_contant p{
	padding-top: 10px;
	width: 314px;
	height: 64px;
	font-size: 22px;
	color: #f4f9f4;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}

/*/////////////////////OUR STATS//////////////////*/

.our_stats{
	width: 100%;
	height: 974px; 
	display: flex;	
	background-image: url(./imgs/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.our_stats_text{
	width: 754px;
	height: 230px;
	/*display: inline-block;*/
	justify-content: center;
	text-align: center;
	background-color: none; 
	margin-top: 91px;
}
.our_stats_text h1{
	font-size: 75px;
	color:#6c9894;
	font-weight: bold;
	font-family: "Baloo";
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

.our_stats_text p{
	width: 766px;
	height: 210px;
	font-size: 30px;
	color: #6c9894;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}

/*////////////////OUR STATS CONTANT//////////////*/

.our_stats_contant{
	width: 1480px;
    margin: 0 auto;
    padding: 0;
    background-color: none;
    display: flex;
    padding-top: 121px;
}
.square{
	width: 338px;
	height: 326px;
	background-color: none;
	display: block;
	/*justify-content: space-between;*/
}
.stats_square{
	display: inline-block;
	width: 338px;
	height: 326px;
	border: 5px solid #6c9894;
	border-radius: 100%;
	background-color: none;
	background-size: cover;
}
.stats_square h3{
	font-size: 75px;
	color:#6c9894;
	font-weight: bold;
	font-family: "Baloo";
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 20%;
	padding-left: 30%;
}
.stats_square p{
	width: 196px;
	height: 60px;
	font-size: 30px;
	color: #6c9894;
	font-weight: 400;
	font-family: "Montserrat";
	text-align: center;
}